<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zaizi.mapper.CourseMapper">

    <select id="getCourses" resultType="com.zaizi.pojo.Course">
        select *
        from courses
        <where>
            <if test="title != null and title != ''">title like concat('%',#{title},'%')</if>
            <if test="category != null and category != ''">and category = #{category}</if>
        </where>
    </select>
</mapper>