<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zaizi.mapper.EmpMapper">

    <update id="updateEmp">
        update emp
            <set>
                <if test="name != null">name = #{name},</if>
                <if test="image != null">image = #{image},</if>
                <if test="gender != null">gender = #{gender},</if>
                <if test="position != null">position = #{position},</if>
                <if test="entryDate != null">entry_date = #{entryDate},</if>
                <if test="isManager != null">is_manager = #{isManager},</if>
                last_operation_time = NOW()
                where id = #{id}
            </set>
    </update>
    <update id="updateCheckin">
        update daily_checkin
            <set>
                <if test="empName != null">emp_name = #{empName}</if>
            </set>
            where emp_id = #{empId}
    </update>


    <select id="getEmp" resultType="com.zaizi.pojo.Emp">
        select id, name, image, gender, position, entry_date, last_operation_time
        from emp
        <where>
            <if test="name != null and name != ''">name like concat('%',#{name},'%')</if>
            <if test="gender != null and gender != ''">and gender = #{gender}</if>
            <if test="entryDate != null">and entry_date >= #{entryDate} </if>
            <if test="position != null and position != ''">and position like concat('%',#{position},'%')</if>
        </where>
    </select>
</mapper>